@import "font-face";
$orange: #fc7700;
$btnHover: #43484E;
body {
  #public-content {
    height: 100%;
    position:  relative;
    padding-top: 100px;
  }
  a {
    text-decoration: none;
  }

}




.nav-link:not(.dropdown-item .nav-link)  {
  margin-right: .25rem;
}

.offcanvas-body {
  .nav-link {
    padding-left: 1rem;
  }

  .dropdown-menu {
    margin-top: 1rem!important;
  }
}

.brand-image {
  margin-right: 1rem;
}

.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler:focus {
  outline: none !important;
  box-shadow: 0 0 0 0  !important;
  overflow: hidden !important;
}
.no-blurs:focus, .no-blurs:active, .no-blurs:focus {
  outline: none !important;
  box-shadow: 0 0 0 0  !important;
  overflow: hidden !important;
}

.offcanvas.show {
  .nav-item {
    margin-bottom: 1rem;
  }
  .offcanvas-header {
    background-color: #f6f6f6;
  }
}

.blockquote {
  border-left: 5px solid rgba(190, 190, 190, 0.93);
  p{
    padding-left: .75rem;
  }
}