<div id="{% if f.config.container_id %}{{ f.config.container_id }}{% else %}{{ f.id}}{% endif %}" class="{{ f.config.css_class }}">
    {% autoescape false %}
        {{ f.data.input }}
    {% endautoescape %}
</div>